<main class="ml-140 mr-25">
    <div class="container-fluid">
        <div class="page-heading">Workspace Summary</div>
                <div class="poc-box">
                    <div class="row">
                        <div class="col">
                            <label class="ft-18">WorkSpace Name</label>
                            <p class="ft-color-gray80 mt-5p">{{POCDetails && POCDetails.wsName}}</p>
                        </div>
                        <div class="col">
                            <label class="ft-18 ">Date Created</label>
                            <p class="ft-color-gray80 mt-5p">{{commonService.convertDateTimeFormat(POCDetails.createdDate, 'true')}}</p>
                        </div>
                        <div class="col">
                            <label class="ft-18">Status</label>
                            <p class="ft-color-gray80 mt-5p">{{POCDetails && POCDetails.statusCode}}</p>
                        </div>
                        <div class="col-sm-4">
                      
                        <div *ngIf="commonService.getRole() =='idea-owner'">
                            <div class="btn-box mt-1">
                                <button class="btn button-save ml-3 mt-8p" (click)="onClosePOC()">Close WorkSpace</button>
                            </div>
                        </div>
                        <div *ngIf="commonService.getRole() =='idea-owner'">
                            <div class="btn-box mt-1">
                                <button class="btn button-save ml-3 mt-8p" (click)="onManagePOC()">Manage Workspace</button>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-10 mt-5">
                        <div class="page-sub-heading">Team</div>
                        <div class="row">
                            <div class="col-sm-5">
                              <label class="ft-18">Team Members</label>
                            </div>
                            <div class="col-sm-4">
                              <label class="ft-18">Role</label>
                            </div>
                            <div class="col-sm-3">
                              <label class="ft-18">Last Login</label>
                            </div>
              
                          </div>
                        <div *ngFor="let item of teamDtl">
                            <div class="bg-white mr-4 border-gray mt-10 radius-all-3 p-all-10">
                              <div class="row">
              
                                <div class="col-sm-5">
                                  <div class="profile-default">{{item.userName.charAt(0).toUpperCase()}}</div>
                                  <span class="profile-name">{{item.userName}}</span>
                                </div>
                                <div class="col-sm-4 pt-13 pl-10">
                                  <span>{{item.roleCode}}</span>
                                </div>
                                <div class="col-sm-3  pt-13 pl-25">
                                  <span>{{commonService.convertDateTimeFormat(item.createdDate, 'false')}}</span>
                                </div>
                              </div>
                            </div>
                          </div>

                      
                        
                     
                      
                        
                        
                        <div class="header-box mt-5">
                            <div class="page-sub-heading">Reviews</div>
                        </div>
                        <div class="row mr-2">
                            <div class="col-sm-3">
                                <div class="review-heading">Total Review Comments</div>
                                <div class="review-content">{{totalCount}}</div>
                            </div>
                            <div class="col-sm-3">
                                <div class="review-heading">Open Comments</div>
                                <div class="review-content">{{openCount}}</div>
                            </div>
                            <div class="col-sm-3">
                                <div class="review-heading">Top Reviewer</div>
                                <div class="review-content">{{topReviewerName}}</div>
                            </div>
                            <div class="col-sm-3">
                                <div class="review-heading">Most Reviewed</div>
                                <div class="review-content">{{mostReviewedPhase}}</div>
                            </div>

                        </div>
                     
                    </div>

                    <div class="col-sm-2 milestons-list pl-0 mt-5">
                        
                        <div class="page-sub-heading">Milestone</div>
                        <ul class="mt-10">
                            <ng-container *ngFor="let milestone of milestoneDtl;index as i;">
                                <div *ngIf="i < 5">
                                    <li [class.active]="milestone.statusCode != 'In-Progress' ">
                                     <p class="ft-gray ft-14 pb-2 txt-caps">Milestone {{i+1}}</p>
                                     <div class="ft-18">{{milestone.custPhaseName}}</div>
                                     <p *ngIf="milestone.statusCode != 'In-Progress' " class="ft-gray ft-12">Completed on {{milestone.plannedEndDate | date}}</p>
                                     <p *ngIf="milestone.statusCode == 'In-Progress' " class="ft-gray ft-12">{{milestone.statusCode}}</p>                                 
                                   </li>
                                </div>
                        </ng-container>
                        <!--
                            <li class="active">                 
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Initial Requirement</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                                   
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Process flow</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Application flow</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Wireframe</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Prototype</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Review</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
      </div>
</main>

<footer>
    <div class="container-fluid">
        <div class="footer">©HiveZen.All rights reserved</div>
    </div>
</footer>