<main class="ml-130 mr-15">
    <div class="container-fluid">
        <div class="page-heading">Workspace Summary</div>
                <div class="poc-box">
                    <div class="row">
                        <div class="col">
                            <label class="ft-18">WorkSpace Name</label>
                            <p class="ft-color-gray80">{{POCDetails && POCDetails.wsName}}</p>
                        </div>
                        <div class="col">
                            <label class="ft-18 ">Date Created</label>
                            <p class="ft-color-gray80">{{commonService.convertDateTimeFormat(POCDetails.createdDate, 'true')}}</p>
                        </div>
                        <div class="col">
                            <label class="ft-18">Status</label>
                            <p class="ft-color-gray80">{{POCDetails && POCDetails.statusCode}}</p>
                        </div>
                        <div class="col-sm-4">
                      
                        <div *ngIf="commonService.getRole() =='idea-owner'">
                            <div class="btn-box mt-1">
                                <button class="btn button-save ml-3 mt-5p" (click)="onClosePOC()">Close WorkSpace</button>
                            </div>
                        </div>
                        <div *ngIf="commonService.getRole() =='idea-owner'">
                            <div class="btn-box mt-1">
                                <button class="btn button-save ml-3 mt-5p" (click)="onManagePOC()">Manage Workspace</button>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-sm-10 mt-4">
                        <div class="page-sub-heading">Team</div>
                        <div class="row">
                            <div class="col-sm-5">
                              <label class="ft-18">Team Members</label>
                            </div>
                            <div class="col-sm-4">
                              <label class="ft-18">Role</label>
                            </div>
                            <div class="col-sm-3">
                              <label class="ft-18">Last Login</label>
                            </div>
              
                          </div>
                        <div *ngFor="let item of teamDtl">
                            <div class="bg-white mr-3 border-gray mt-2 radius-all-3">
                              <div class="row pt-2 pb-2">
              
                                <div class="col-sm-5 align-content-center">
                                  <div class="profile-default">{{item.userName.charAt(0).toUpperCase()}}</div>
                                  <span class="profile-name">{{item.userName}}</span>
                                </div>
                                <div class="col-sm-4 pt-10 pl-20">
                                  <span>{{item.roleCode}}</span>
                                </div>
                                <div class="col-sm-3  pt-10 pl-25">
                                  <span>{{commonService.convertDateTimeFormat(item.createdDate, 'false')}}</span>
                                </div>
                              </div>
                            </div>
                          </div>

                      
                        
                     
                      
                        
                        
                        <div class="header-box mt-5">
                            <div class="page-sub-heading">Reviews</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="ft-18">Total Review Comments</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="ft-18">Open Comments</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="ft-18">Top Reviewer</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="ft-18">Most Reviewed</label>
                            </div>

                        </div>
                        <div class="row mb-5">
                            <div class="col-sm-3">
                                <label class="count">{{totalCount}}</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="count">{{openCount}}</label>
                            </div>
                            <div class="col-sm-3r">
                                <label class="count">{{topReviewerName}}</label>
                            </div>
                            <div class="col-sm-3 text-center">
                                <label class="count">{{mostReviewedPhase}}</label>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-3 milestons-list pl-0 mt-5">
                        
                        <ul *ngFor="let milestone of milestoneDtl;index as i">
                            <li [class.active]="milestone.statusCode != 'In-Progress' ">
                              <p class="ft-gray ft-12 pb-2 txt-caps">Milestone {{i+1}}</p>
                              <h4>{{milestone.custPhaseName}}</h4>
                              <p *ngIf="milestone.statusCode != 'In-Progress' " class="ft-gray ft-12">Completed on {{milestone.plannedEndDate | date}}</p>
                              <p *ngIf="milestone.statusCode == 'In-Progress' " class="ft-gray ft-12">{{milestone.statusCode}}</p>
                          
                            </li>
              
                        <!-- </ul>
                        <ul>
                       
                            <li class="active">                 
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Initial Requirement</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                                   
                            </li> -->
                            <!-- <li>                                        
                                <p class="ft-gray ft-12 pb-2 txt-caps">Milestone</p>
                                <h4>Process flow</h4>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Application flow</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Wireframe</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Prototype</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li>
                            <li>                                        
                                <p class="ft-gray ft-14 pb-2 txt-caps">Milestone</p>
                                <div class="ft-18">Review</div>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </li> -->
                        </ul>
                    </div>
                </div>
      </div>
</main>

<footer>
    <div class="container-fluid">
        <div class="footer">©HiveZen.All rights reserved</div>
    </div>
</footer>