<main>
    <div class="container-fluid">
        <div class="page-heading">Milestones</div>

        <div class="row mb-5">
            <div class="col-sm-12 milestons-list mt-5">

                <ul>
                    <li class="active">
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="ft-gray ft-12 pb-4">Milestone 1</p>
                                <h4>Initial Requirement</h4>
                                <p class="ft-gray ft-12">Completed on 31st Dec 2020</p>
                            </div>
                            <div class="col-sm-2 bl-2-green">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned Start Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned End Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">View Details</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">Complete</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="ft-gray ft-12 pb-4">Milestone 2</p>
                                <h4>Process Flow</h4>
                                <p class="ft-gray ft-12">Inprogress</p>
                            </div>
                            <div class="col-sm-2 bl-2-gray">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned Start Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned End Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">View Details</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">Complete</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="ft-gray ft-12 pb-4">Milestone 3</p>
                                <h4>Application Flow</h4>
                                <p class="ft-gray ft-12">Inprogress</p>
                            </div>
                            <div class="col-sm-2 bl-2-gray">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned Start Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned End Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">View Details</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">Complete</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="ft-gray ft-12 pb-4">Milestone 4</p>
                                <h4>Wireframe</h4>
                                <p class="ft-gray ft-12">Inprogress</p>
                            </div>
                            <div class="col-sm-2 bl-2-gray">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned Start Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned End Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">View Details</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">Complete</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="ft-gray ft-12 pb-4">Milestone 5</p>
                                <h4>Prototype</h4>
                                <p class="ft-gray ft-12">Not Started</p>
                            </div>
                            <div class="col-sm-2 bl-2-gray">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned Start Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned End Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">View Details</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">Complete</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="ft-gray ft-12 pb-4">Milestone 6</p>
                                <h4>Review</h4>
                                <p class="ft-gray ft-12">Not Started</p>
                            </div>
                            <div class="col-sm-2 bl-2-gray">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned Start Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <p class="pb-25"></p>
                                <p class="ft-10">Planned End Date</p>
                                <input type="text" class="txt-outline w-80"><img src="assets/images/date-picker.png"
                                    class="mt-10 ml-5">
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">View Details</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="btn button-save mt-40">Complete</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</main>