<div class="container-fluid">
<div id="Tab3" class="tabcontent">
    <div class="tab-header">
        <div class="tab-heading">Development Documentation</div>
    </div>
    <!-- <form [formGroup]="formGroup" class="form-horizontal"> -->
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <div class="pt-50 pb-20 mr-30">
                <div class="row pb-10">
                    <div class="col-sm-3">
                        <div class="txt-lable">Document Name</div>
                    </div>
                    <div class="col-sm-9">
                        <input [attr.disabled]="commonService.getRole() !='developer' ? '' : null "  type="text" formControlName="documentName" class="form-control txt-lable" id="documentName"
                            placeholder="" [ngClass]=" { 'is-invalid' : submitted &&
                            f1.documentName.errors }">
                        <div *ngIf="submitted && f1.documentName.errors" class="invalid-feedback">
                            <div *ngIf="f1.documentName.errors.required">Document Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="row pb-10">
                    <div class="col-sm-3">
                        <div class="txt-lable">Document Type</div>
                    </div>
                    <div class="col-sm-9">
                        <input [attr.disabled]="commonService.getRole() !='developer' ? '' : null "  type="text" formControlName="documentType" class="form-control txt-lable" id="documentType"
                            placeholder="" [ngClass]=" { 'is-invalid' : submitted &&
                            f1.documentType.errors }">
                        <div *ngIf="submitted && f1.documentType.errors" class="invalid-feedback">
                            <div *ngIf="f1.documentType.errors.required">Document Type is required</div>
                        </div>
                        <!-- <input type="text" placeholder="Web App, iOS, Android" class="txt-lable" /> -->
                    </div>
                </div>
    
                <div class="row pb-10">
                    <div class="col-sm-3">
                        <div class="txt-lable">Document Description</div>
                    </div>
                    <div class="col-sm-8">
                        <textarea [attr.disabled]="commonService.getRole() !='developer' ? '' : null "  placeholder="" formControlName="documentDescription" class="form-control txt-lable"
                            id="documentType" [ngClass]=" { 'is-invalid' : submitted &&
                    f1.documentDescription.errors }"></textarea>
                        <div *ngIf="submitted && f1.documentDescription.errors" class="invalid-feedback">
                            <div *ngIf="f1.documentDescription.errors.required">Document Description is required</div>
                        </div>
                    </div>
                </div>
    
                <div class="row pb-10">
                    <div class="col-sm-3">
                        </div>
                            <!-- <div class="col-sm-5">
                        <input type="text" class="txt-outline w100">
                    </div> -->
                            <div class="col-sm-4">
                                <input  [attr.disabled]="commonService.getRole() !='developer' ? '' : null "  formControlName="uploadFile" id="uploadFile" type="file"
                                    (change)="fileUpload($event.target.files)" class="form-control" name="uploadFile"
                                    [ngClass]=" { 'is-invalid' : submitted &&
                            f1.isFileInput.errors }" />
                                <input type="hidden" name="isFileInput" formControlName="isFileInput" />
                                <div *ngIf="submitted && f1.isFileInput.errors" class="invalid-feedback">
                                    <div *ngIf="f1.isFileInput.errors.required">File is required</div>
                                </div>
                                <!-- {{f1.isFileInput.Value}} -->
                                <!-- <input type="file" class="btn btn-outline-purple" /> -->
                            </div>
                    </div>
                    <div class="row pb-10">
    
                    </div>
                    <div class="row pb-10">
                        <div class="col-sm-3">
    
                        </div>
                        <div class="col-sm-2">
                            <!-- <div class="attachments"><img src="assets/images/pdf_icon.png"><img
                                    src="assets/images/doc_icon.png"><img src="assets/images/csv_icon.png"></div> -->
                        </div>
                        <div class="col-sm-7">
                            <!-- <button class="btn btn-outline mr-15">Upload File</button> -->
                            <button  [attr.disabled]="commonService.getRole() !='developer' ? '' : null "  type="submit" class="btn button-save ml-3" >Save</button>
                            <div style="margin-top: 20px;"><flash-messages></flash-messages></div>
                            <!-- <button class="btn button-save">Save</button> -->
                        </div>
                    </div>
                </div>
        </form>

    <hr>
    <table *ngIf="!!workSpaceDDLists.length" id="example" class="table">
        <thead>
            <tr>
                <th>Document ID</th>
                <th>Document Name</th>
                <th>Description</th>
                <th>Document Type</th>
                <th>Uploaded By</th>
                <th>Uploaded on</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let workSpaceDDList of workSpaceDDLists">
                <td>{{workSpaceDDList.id}}</td>
                <td>{{workSpaceDDList.docName}}</td>
                <td>{{workSpaceDDList.description}}</td>
                <td>{{workSpaceDDList.docType}}</td>
                <td>{{workSpaceDDList.createdBy}}</td>
                <td>{{commonService.convertDateTimeFormat(workSpaceDDList.createdDate, 'true')}}</td>
                <th>
                    <div class="btn button-view" (click)="doDownload(workSpaceDDList)">View</div>
                </th>
            </tr>

        </tbody>
    </table>
    <div class="clear-float"></div>
    <form class="form-horizontal" [formGroup]="formGroup">
    <div class="row" *ngIf="commonService.getRole() !='developer'">
      
      <div class="col-sm-9 pr-0 processflow_pt_20">
        <div class="form-group">
          <label class="control-label width-125 " for="cname">Review Comments</label>
          <textarea formControlName="reviewComment" class="form-control rounded-0 bg-white" id="reviewComment" rows="3"
          [ngClass]=" { 'is-invalid' : submitted && f1.reviewComment.errors }"
          ></textarea>
          <div *ngIf="submitted && f1.reviewComment.errors" class="invalid-feedback">
            <div *ngIf="f1.reviewComment.errors.required">Comment is required</div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="commonService.getRole() !='developer'" class="row pt-4">
      <div class="col-sm-9 text-right ">
        <button class="btn button-save ml-3" (click)="saveComments()" >Save</button>
      </div>
    </div>
  
    <div *ngIf="commonService.getRole() =='idea-owner'" class="review-container">
      <div class="heading processflow_css processflow_pt0_css">Request Review</div>
      <div class="row">
        <div class="col-sm-3 pr-0">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="selectedRole" (change)="onChangeReview($event)">
              <option *ngFor="let item of reviewers" value={{item.userId}} id={{item.userId}}>{{item.userName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-2 pl-10 pb-20">
          <button (click)="selectReviewer()" class="btn btn-outline-purple">Select</button>
        </div>
      </div>
  
      <div class="row" *ngIf="selectedReviewer.length ==0">
        <div class="col-sm-12">
          <div>No reviewer available</div>
        </div>
      </div>
      <div class="row" *ngIf="selectedReviewer.length >0">
        <div class="col-sm-12">
  
          <button *ngFor="let item of selectedReviewer;let i = index;"
            class="btn btn-outline btn-close">{{item['userName']}}<img (click)="deleteSelectedReviewer(item,i)"
              src="assets/images/btn-close.png"></button>
          <!--
          <button class="btn btn-outline btn-close">Reviewer 1<img src="assets/images/btn-close.png"></button>
          <button class="btn btn-outline btn-close">Reviewer 2<img src="assets/images/btn-close.png"></button>
          <button class="btn btn-outline btn-close">Reviewer 3<img src="assets/images/btn-close.png"></button>
          <button class="btn btn-outline btn-close">Reviewer 4<img src="assets/images/btn-close.png"></button>
          -->
          <button class="btn btn-outline-purple" (click)="submitReviewer()">Request Review</button>
        </div>
      </div>
      <div class="row pl-3 pt-3">
        <div class="heading processflow_pt1_css processflow_pt_20">Existing Reviewer</div>
      </div>
      <div class="row" *ngIf="existingReviewer.length ==0">
        <div class="col-sm-12">
          <div>No reviewer available</div>
        </div>
      </div>
      <div class="row" *ngIf="existingReviewer.length >0">
        <div class="col-sm-12">
          <button *ngFor="let item of existingReviewer;let i = index;" class="btn btn-outline btn-close" disabled><span
              class="ft-black">{{item['name']}}</span></button>
  
          <!--
          <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 1</span></button>
          <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 2</span></button>
          <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 3</span></button>
          <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 4</span></button>					
          -->
        </div>
      </div>
    </div>
  
    <div [ngClass]="{'processflow_pt_20': commonService.getRole() !='idea-owner'}"
      class="heading processflow_css processflow_pt1_css">Comments Received</div>
    <table id="example" class="table">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Reviewer</th>
          <th>Comments</th>
          <th>Accept</th>
          <th>Reject</th>
          <th>Assigned to</th>
          <th>Status</th>
        </tr>
      </thead>
       <tbody>
        <tr *ngFor="let commentsReceiveddtl of commentsReceived">
          <td>
            <a *ngIf="commentsReceiveddtl.commentStatus !='Closed' && ( commonService.getRole() =='idea-owner' ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='Allocated' ) ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='In-Progress' )  ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='reviewer' &&  commentsReceiveddtl.commentStatus =='Completed' ) ) "  (click)="editComments(commentsReceiveddtl)" style="cursor: pointer;">
              <i class="fa fa-edit" style="font-size: 14px;"></i>
            </a>
          </td>
          <td>{{commonService.convertDateTimeFormat(commentsReceiveddtl.enteredDate, 'true')}}</td>
          <td><span class="badge-reviewer"><img src="assets/images/review.png"> {{commentsReceiveddtl.enteredByName}}</span>
          </td>
          <td>{{commentsReceiveddtl.reviewComment}}</td>
          <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'"
              [ngClass]="{'badge-accepted': commentsReceiveddtl.actionStatus == 'Accepted'}">Accepted</span></td>
          <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'" [ngClass]="{'badge-rejected action_status_rejected': commentsReceiveddtl.actionStatus == 'Rejected'}">Reject</span>
          </td>
          <td *ngIf="commonService.getRole() =='idea-owner'">{{commentsReceiveddtl.assignedToUserName}}</td>
          <td class="badge-status"
          [ngClass]="{'comment_status_allocated': commentsReceiveddtl.commentStatus == 'Allocated',
                    'comment_status_inprogres': commentsReceiveddtl.commentStatus == 'In-Progress',
                    'comment_status_completed': commentsReceiveddtl.commentStatus == 'Completed',
                    'comment_status_closed': commentsReceiveddtl.commentStatus == 'Closed',
                    'comment_status_pending': commentsReceiveddtl.commentStatus == 'Pending'}"
          ><span>{{commentsReceiveddtl.commentStatus}}</span></td>
        </tr>
      </tbody>
    </table>
  
  </div>

