<div class="modal-body">
    <button type="button"  (click)="Close()" class="close dialog-close" data-dismiss="modal" aria-label="Close">
       <img src="assets/images/close-popup.png">
      </button>
      <div class="row">
        <div class="col-sm-12">
            <div class="dialog-left text-center mt-50 mb-50"> 
                    <div class="success-msg"><span>Congratulations!<br>
                        Your HiveZen account is created 
                        <br>successfully</span></div>
                        <button class="btn button-save mt-50" (click)="Close()">Ok</button>
            </div>
        </div>
    </div>
</div>