<main>
<div id="Tab3" class="tabcontent1" style="padding: 30px 0px 0px 0px;">
    <div class="tab-header">
        <div class="tab-heading">Manage your Subscriptions</div>
    </div>
    <div class="container manage-ur-sub">   
        <div class="row justify-content-between mr-4 ml-2 mt-5">
            <h2 class="ft-16 ft-light-gray pb-3">Plan Details</h2>                
        </div> 
        <div class="row">
            <div class="col-sm-8">
                <div class="plan-box">
                    <div class="row">
                        <div class="col-sm-9">
                            <p class="ft-12 ft-light-gray pb-2">Current Plan</p>
                            <h5 class="ft-18 ft-color-green">Basic</h5>
                        </div>
                        <div class="col-sm-3 pr-4 bt-left">
                            <p>Seats</p>
                            <h5 class="ft-16 ft-bold pt-2">5</h5>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-9">
                            <p class="ft-12 ft-light-gray pb-2">You are on the basic plan with 5 seats. You can buy more seats at any point of time.</p>                              
                        </div>
                        <div class="col-sm-3 pr-4">
                           <button style="cursor: pointer;" routerLink="/subscription/purchase-subcription" class="p-3 buy-more-btn m-0 ft-color-green" >Buy more seats</button>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between mr-4 ml-2 mt-4">
                    <h2 class="ft-16 ft-light-gray pb-3">Current Users</h2>                
                </div> 
                <div class="current-user text-center">
                <div class="col bt-right">
                    <p class="ft-18">5 <span class="ft-14 ft-light-gray">Total Seats</span></p>
                </div>
                <div class="col bt-right">
                    <p class="ft-18">4 <span class="ft-14 ft-light-gray">Unassigned Seats</span></p>
                </div>
                <div class="col">
                    <p class="ft-18">1 <span class="ft-14 ft-light-gray">Allocated Seats</span></p>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row justify-content-between mr-4 ml-2">
                    <h2 class="ft-16 ft-light-gray pb-3">Need help?</h2>                
                </div> 
                <div class="need-help-box">
                    <div class="row">
                        <div class="col-sm-4">
              <img src="assets/images/needhelp.PNG">                        
                        </div>
                        <div class="col-sm-8">
                         <p class="ft-12 ft-bold"><strong>Questions</strong></p>
                         <p class="ft-12 ft-light-gray">For more information about billing and pricing visit our <a href="">Knowledge base</a></p>
                        </div>
                    </div>
                </div>

                <div class="contact-box mt-4">
                    <div class="row">
                        <div class="col-sm-12 text-center mb-3">
                         <p class="ft-18"><strong>Contact Support</strong></p>
                         <p class="ft-12 pt-3 pb-3">Our Customer success team will get back to you within record time</p>
                         <div class="d-flex justify-content-center">
                         <button class="contact-sup-btn">Contact Support</button>
                        </div><br>
                         <a href="" class="close-my-account ft-bold">Close my account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    <div class="estimate-table mb-4">
        <div class="row justify-content-between mr-4 ml-2 mt-5">
            <h2 class="ft-16 ft-light-gray">Manager Users</h2>
            <button class="btn btn-outline mr10px" (click)="inviteMember()">Invite Member</button>
        </div>
        <table id="example1" class="table mt-2 ">
            <thead>
                <tr>
                    <th width="300">Email</th>
                    <th width="300">Name</th>
                    <th width="100">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <td><span>test@gmail.com</span></td>
                    <td ><span>John</span></td>
                    <td class="badge-status bg-purple ft-white"><span>Active</span></td>
                </tr>
                <tr class="bg-white">
                    <td><span>test@gmail.com</span></td>
                    <td ><span>John</span></td>
                    <td class="badge-status bg-light-gray"><span>Inactive</span></td>
                </tr>
                <tr class="bg-white">
                    <td><span>test@gmail.com</span></td>
                    <td ><span>John</span></td>
                    <td class="badge-status bg-purple ft-white"><span>Active</span></td>
                </tr>
                <tr class="bg-white">
                    <td><span>test@gmail.com</span></td>
                    <td ><span>John</span></td>
                    <td class="badge-status bg-light-gray"><span>Inactive</span></td>
                </tr>
                <tr class="bg-white">
                    <td><span>test@gmail.com</span></td>
                    <td ><span>John</span></td>
                    <td class="badge-status bg-purple ft-white"><span>Active</span></td>
                </tr>
                <tr class="bg-white">
                    <td><span>test@gmail.com</span></td>
                    <td ><span>John</span></td>
                    <td class="badge-status bg-light-gray"><span>Inactive</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  </div>
</main>