<div class="modal-body upload-image">

    <button type="button" class="close dialog-close" (click)="Close()" data-dismiss="modal" aria-label="Close">
        <img src="assets/images/close-popup.png">
    </button>

    <div class="d-flex">

        <h3>Upload Image</h3>
    </div>

    <div class="upload-image-box">
        <div class="row">
            <div class="col-sm-4">
                <div class="radio">
                    <input type="radio" (click)="handleClick('New')" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    <label for="optionsRadios1">Upload a new image
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="radio ml-4">
                    <input type="radio" (click)="handleClick('Edit')" name="optionsRadios" id="optionsRadios1" value="option1">
                    <label for="optionsRadios1">Replace existing image
                    </label>
                </div>
            </div>
        </div>
        <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="Save()">

            <div class="form-group">

                <div class="row mt-40" *ngIf="!isEditFlag">
                    <label class="control-label col-sm-2 width-100" for="cname">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="docName" placeholder=""
                        formControlName="docName"
                        [ngClass]=" { 'is-invalid' : submitted && f1.docName.errors }"
                        >
                        <div *ngIf="submitted && f1.docName.errors" class="invalid-feedback">
                            <div *ngIf="f1.docName.errors.required">Name is required</div>
                          </div>
                    </div>
                </div>
                <div class="row mt-40"  *ngIf="isEditFlag" >
                    <label class="control-label col-sm-2 width-100" for="cname">Name</label>
                    <div class="col-sm-8">                        
                        <select id ="selectOptionid" (change)="onChange($event.target.value,$event)" class="form-control" 
                        formControlName="docName" [(ngModel)]="selectedDocuments"
                        [ngClass]=" { 'is-invalid' : submitted && f1.docName.errors }">
                            <option  *ngFor="let item of documentList" value={{item.docId}} id={{item.docName}}>{{item.docName}}
                            </option>
                            </select>
                            <div *ngIf="submitted && f1.docName.errors" class="invalid-feedback">
                                <div *ngIf="f1.docName.errors.required">Name is required</div>
                              </div>
                    </div>
                </div>
                <div class="row mt-40" >
                    <label class="control-label col-sm-2 width-100" for="acname">Description</label>
                    <div class="col-sm-8">
                        <!--[attr.disabled]="isEditFlag ? '' : null"-->
                        <textarea  class="form-control rounded-0 bg-white" 
                        id="docDesc" rows="3"
                        formControlName="docDesc"
                        [ngClass]=" { 'is-invalid' : submitted && f1.docDesc.errors }"
                        >
                    </textarea>
                        <div *ngIf="submitted && f1.docDesc.errors" class="invalid-feedback">
                            <div *ngIf="f1.docDesc.errors.required">Description is required</div>
                          </div>
                        
                    </div>
                </div>
                <div class="row mt-40" >
                    <label class="control-label col-sm-2 width-100" for="acname">&nbsp;</label>
                    <div class="col-sm-8">
                        <input formControlName="uploadFile" class="txt-lable" id="uploadFile" type="file"
                        (change)="fileUpload($event.target.files)" name="uploadFile" 
                        [ngClass]=" { 'is-invalid' : submitted &&  f1.uploadFile.errors }" />
                        <div *ngIf="submitted && f1.uploadFile.errors" class="invalid-feedback">
                            <div *ngIf="f1.uploadFile.errors.required">File is required</div>
                          </div>
                        
                    </div>
                </div>
                <div class="row mt-40">
                    <label class="control-label col-sm-2 width-100" for="cname">&nbsp;</label>
                    <button class="btn button-save ml-4">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>