<div id="Tab3" class="tabcontent">
  <div class="tab-header">
    <div class="tab-heading">Wireframe</div>
    <div class="row pt-4" *ngIf="commonService.getRole() !='reviewer'" >
      <label class="control-label col-sm-3" for="acname">Adobe XD link</label>
      <div class="col-sm-7">
        <input type="text" class="form-control bg-white" id="acname" [(ngModel)]="link" placeholder="Enter Link">
      </div>
      <button class="btn button-save ml-5" (click)="onSaveLink()">{{method}}</button>
    </div>

    <hr>
    <div class="row">
        <iframe width="1300" height="500" id='iframe' [src]="iframeUrl"  frameborder="0"></iframe>

      <!-- <iframe width="1300" height="500"
      src="https://xd.adobe.com/embed/3b9d29ca-9012-4709-8a0a-b4866f42a2de-6ece/" 
      frameborder="0" ></iframe> -->
    </div>
    <div class="form-group">
      <form class="form-horizontal" [formGroup]="formGroup">
      <div *ngIf="commonService.getRole() !='developer'" class="row pt-4">

        <div class="col-sm-9">
          <label class="control-label width-125 " for="cname">Review Comments</label>
          <textarea formControlName="reviewComment"  class="form-control rounded-0 bg-white" id="reviewComment" rows="3"
          [ngClass]=" { 'is-invalid' : submitted && f1.reviewComment.errors }"
          ></textarea>
          <div *ngIf="submitted && f1.reviewComment.errors" class="invalid-feedback">
            <div *ngIf="f1.reviewComment.errors.required">Comment is required</div>
          </div>
        </div>

      </div>
    </form>
      <div *ngIf="commonService.getRole() !='developer'" class="row pt-4">                            
        <div class="col-sm-9 text-right ">
            <button class="btn button-save ml-3" (click)="saveComments()">Save</button>
        </div>                                                       
    </div>
      <div class="clear-float"></div>
      <div *ngIf="commonService.getRole() =='idea-owner'" class="review-container">
        <div class="heading wireframe_css wireframe_pt0_css">Request Review</div>
        <div class="row">
          <div class="col-sm-3 pr-0">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="selectedRole" (change)="onChangeReview($event)">
                <option *ngFor="let item of reviewers" value={{item.userId}} id={{item.userId}}>{{item.userName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-2 pl-10 pb-20">
            <button (click)="selectReviewer()" class="btn button-save">Select</button>
          </div>
        </div>
        <div class="row" *ngIf="selectedReviewer.length ==0">
          <div class="col-sm-12">
          <div>No reviewer available</div> 
        </div>
        </div>
        <div class="row" *ngIf="selectedReviewer.length >0">
          <div class="col-sm-12">
            
            <button *ngFor="let item of selectedReviewer;let i = index;" class="btn btn-outline btn-close">{{item['userName']}}<img (click)="deleteSelectedReviewer(item,i)" src="assets/images/btn-close.png"></button>
            <!--
            <button class="btn btn-outline btn-close">Reviewer 1<img src="assets/images/btn-close.png"></button>
            <button class="btn btn-outline btn-close">Reviewer 2<img src="assets/images/btn-close.png"></button>
            <button class="btn btn-outline btn-close">Reviewer 3<img src="assets/images/btn-close.png"></button>
            <button class="btn btn-outline btn-close">Reviewer 4<img src="assets/images/btn-close.png"></button>
            -->
            <button class="btn button-save" (click)="submitReviewer()">Request Review</button>
          </div>
        </div>
        <div class="row pl-3 pt-3">
          <div class="heading wireframe_pt1_css wireframe_pt_20">Existing Reviewer</div>
        </div>
        <div class="row" *ngIf="existingReviewer.length ==0">
          <div class="col-sm-12">
          <div>No reviewer available</div> 
        </div>
        </div>
        <div class="row" *ngIf="existingReviewer.length >0">
          <div class="col-sm-12">
            <button *ngFor="let item of existingReviewer;let i = index;" class="btn btn-outline btn-close" disabled><span class="ft-black">{{item['name']}}</span></button>
            
            <!--
            <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 1</span></button>
            <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 2</span></button>
            <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 3</span></button>
            <button class="btn btn-outline btn-close" disabled><span class="ft-black">Reviewer 4</span></button>					
            -->
          </div>
        </div>
      </div>
      <div  [ngClass]="{'wireframe_pt_20': commonService.getRole() !='idea-owner'}"  class="heading wireframe_css wireframe_pt1_css">Comments Received</div>
      <table id="example" class="table">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Reviewer</th>
            <th>Comments</th>
            <th *ngIf="commonService.getRole() =='idea-owner'">Accept</th>
            <th *ngIf="commonService.getRole() =='idea-owner'">Reject</th>
            <th *ngIf="commonService.getRole() =='idea-owner'"> Assigned to</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commentsReceiveddtl of commentsReceived">
            <td>
              <a *ngIf="commentsReceiveddtl.commentStatus !='Closed' && ( commonService.getRole() =='idea-owner' ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='Allocated' ) ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='In-Progress' )  ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='reviewer' &&  commentsReceiveddtl.commentStatus =='Completed' ) ) "  (click)="editComments(commentsReceiveddtl)" style="cursor: pointer;">
                <i class="fa fa-edit" style="font-size: 14px;"></i>
              </a>
            </td>
            <td>{{commonService.convertDateTimeFormat(commentsReceiveddtl.enteredDate, 'true')}}</td>
            <td><span class="badge-reviewer"><img src="assets/images/review.png"> {{commentsReceiveddtl.enteredByName}}</span>
            </td>
            <td>{{commentsReceiveddtl.reviewComment}}</td>
            <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'"
                [ngClass]="{'badge-accepted': commentsReceiveddtl.actionStatus == 'Accepted'}">Accepted</span></td>
            <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'" [ngClass]="{'badge-rejected action_status_rejected': commentsReceiveddtl.actionStatus == 'Rejected'}">Reject</span>
            </td>
            <td *ngIf="commonService.getRole() =='idea-owner'">{{commentsReceiveddtl.assignedToUserName}}</td>
            <td class="badge-status"
            [ngClass]="{'comment_status_allocated': commentsReceiveddtl.commentStatus == 'Allocated',
                      'comment_status_inprogres': commentsReceiveddtl.commentStatus == 'In-Progress',
                      'comment_status_completed': commentsReceiveddtl.commentStatus == 'Completed',
                      'comment_status_closed': commentsReceiveddtl.commentStatus == 'Closed',
                      'comment_status_pending': commentsReceiveddtl.commentStatus == 'Pending'}"
            ><span>{{commentsReceiveddtl.commentStatus}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>