<main class="ml-60">
    <div class="container-fluid">
                <div class="page-heading text-center">Purchase Subscriptions</div>
        <div class="row mt-5">
            <div class="row margin-auto">
                <div class="col-sm-12">
                    <div class="float-left purchase-menu">3 Seats<br>minimum</div>
                <button (click)="selectedSeats(seatlist,seatlist.seats,i)" 
                *ngFor="let seatlist of seatLists;let i = index;" class="btn button-save btn-outline"
                [ngClass]="{'button-save': i === selectedSeatsIndex}">
                    {{seatlist['seats']}} seats</button>
                </div>
                <!--
                <button class="btn button-save mr-2">5 seats</button>
                <button class="btn btn-outline mr-2">10 seats</button>
                <button class="btn btn-outline mr-2">15 seats</button>
                <button class="btn btn-outline mr-2">20 seats</button>
                <button class="btn btn-outline mr-2">25 seats</button>
                <button class="btn btn-outline mr-2">30 seats</button>
                <button class="btn btn-outline mr-2">40 seats</button>
                <button class="btn btn-outline mr-2">50 seats</button>
                <button class="btn btn-outline mr-2">100 seats</button>
                -->
        </div>
        </div>
        <div class="row purchase-subscription mt-5">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
               
                <div class="purchase-container">
                    <p class="ft-14 bt-bottom">Number of POCs</p>
                    <p class="ft-14 bt-bottom">File storage size</p>
                    <p class="ft-14 bt-bottom">Activity log</p>
                    <p class="ft-14">Free sms notification</p>
                </div>
            </div>


            <div class="col-sm-2">
                <div class="plan-basic">Basic</div>
                <div class="purchase-container">
                    <div class="price-container b-all-green">
                        <h1>${{basicPMAmt}}</h1>
                        <span class="pb-1">per user/month</span>
                        <span  class="ft-12 ft-green pb-3">Total ${{basicAmt}} per month</span>
                    </div>

                    <button routerLink="/subscription/make-payment" class="btn ft-white bg-90-black pl-4 pr-4 mt-3">Continue</button>

                    <p class="ft-14 bt-bottom">10</p>
                    <p class="ft-14 bt-bottom">100 GB</p>
                    <p class="ft-14 bt-bottom">1 week</p>
                    <p class="ft-14">1000 messages</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="plan-standard">Standard</div>
                <div class="purchase-container">
                    <div class="price-container b-all-blue">
                        <h1>${{stdPMAmt}}</h1>
                        <span class="pb-1">per user/month</span>
                        <span class="ft-12 ft-blue pb-3">Total ${{stdAmt}} per month</span>
                    </div>

                    <button routerLink="/subscription/make-payment" class="btn ft-white bg-90-black pl-4 pr-4 mt-3">Continue</button>

                    <p class="ft-14 bt-bottom">20</p>
                    <p class="ft-14 bt-bottom">500 GB</p>
                    <p class="ft-14 bt-bottom">6 months</p>
                    <p class="ft-14">5000 messages</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="plan-pro">Pro</div>
                <div class="purchase-container">
                    <div class="price-container b-all-red">
                        <h1>${{proPMAmt}}</h1>
                        <span class="pb-1">per user/month</span>
                        <span class="ft-12 ft-merown pb-3">Total ${{proAmt}} per month</span>
                    </div>

                    <button routerLink="/subscription/make-payment" class="btn ft-white bg-90-black pl-4 pr-4 mt-3">Continue</button>

                    <p class="ft-14 bt-bottom">50</p>
                    <p class="ft-14 bt-bottom">1 TB</p>
                    <p class="ft-14 bt-bottom">1 year</p>
                    <p class="ft-14">Unlimited messages</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="row ml-5 mr-5 pb-2 bt-bottom">
            <h4>Frequently asked questions</h4>
        </div>

        <div class="row ml-5 mr-5 pt-3 pb-3 bt-bottom">
            <p class="ft-14 ft-bold">Q <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
            <p class="ft-14 ft-light-gray">A <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
        </div>
        <div class="row ml-5 mr-5 pt-3 pb-3 bt-bottom">
            <p class="ft-14 ft-bold">Q <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
            <p class="ft-14 ft-light-gray">A <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
        </div>
        <div class="row ml-5 mr-5 pt-3 pb-3 bt-bottom">
            <p class="ft-14 ft-bold">Q <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
            <p class="ft-14 ft-light-gray">A <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
        </div>
        <div class="row ml-5 mr-5 pt-3 pb-3 bt-bottom">
            <p class="ft-14 ft-bold">Q <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
            <p class="ft-14 ft-light-gray">A <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
        </div>
        <div class="row ml-5 mr-5 pt-3 pb-3 mb-5 bt-bottom">
            <p class="ft-14 ft-bold">Q <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
            <p class="ft-14 ft-light-gray">A <span class="pl-4">"Quote doesn't seem to include the post implementatino
                    support. Kindly add in the cost and effort for the same"</span></p>
        </div>
</div>
</main>