<main class="ml-120">	
	<div class="container-fluid">
		<div class="row" *ngIf="commonService.getRole() =='idea-owner'">
			<div class="col-sm-9">
				<div class="page-heading">Manage Team</div>
			</div>
			<div class="col-sm-3 align-right">
				<button (click)="addResource()" class="btn btn-outline-purple mt-20">Add Internal Resource</button>
			</div>
		</div>

		<div>
		<table id="example" class="table mt-50">
			<thead>
				<tr>
					<th *ngIf="commonService.getRole() =='idea-owner'"></th>
					<th>Resource</th>
					<th>Email</th>
					<th>Type</th>
					<th>Role</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let teamListObj of teamList">
				<td *ngIf="commonService.getRole() =='idea-owner'" style="width: 20px;"><a (click)="editTeam(teamListObj)" style="cursor: pointer;">
				<i class="fa fa-edit" style="font-size: 14px;"></i></a></td>
				<td>{{teamListObj.Resource}}</td>
				<td>{{teamListObj.Email}}</td>
				<td ><span>{{teamListObj.Type}}</span></td>
				<td>{{teamListObj.Role}}</td>
				<td class="badge-status" [ngClass]="{'badge-done': teamListObj.Status === 'Active'}"><span>{{teamListObj.Status}}</span></td>

				</tr>
				<!--
				<tr>

					<td>James</td>
					<td>james@123.com</td>
					<td ><span>Internal</span></td>
					<td>Developer</td>
					<td class="badge-status badge-done"><span>Active</span></td>
				</tr>
				<tr>
					<td>John</td>
					<td>john@123.com</td>
					<td ><span>Internal</span></td>
					<td>Reviewer</td>
					<td class="badge-status badge-done"><span>Active</span></td>
				</tr>
				<tr>
					<td>Robert</td>
					<td>robert@123.com</td>
					<td ><span>Internal</span></td>
					<td>Developer</td>
					<td class="badge-status badge-done"><span>Active</span></td>
				</tr>
				<tr>
					<td>Michael</td>
					<td>michael@123.com</td>
					<td ><span>Internal</span></td>
					<td>Reviewer</td>
					<td class="badge-status"><span>Inactive</span></td>
				</tr>
				-->
			</tbody>
		</table>
	
	</div>

	  </div>
</main>
<footer>
    <div class="container-fluid">
        <div class="footer">©HiveZen.All rights reserved</div>
    </div>
</footer>