<div class="container-fluid">
<div id="Tab3" class="tabcontent">
    <div class="tab-header">
        <div class="tab-heading">POC Review</div>
    </div>
    <table id="example" class="table">
        <thead>
            <tr>
                <th>Reviewer Name</th>
                <th>Phase</th>
                <th width="200">Review Initiated on</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reviewerListDtl of reviewerList">
                <td>{{reviewerListDtl.userName}}</td>
                <td>{{reviewerListDtl.phaseCode}}</td>
                <td>{{commonService.convertDateTimeFormat(reviewerListDtl.createdDate, 'true')}}</td>
            </tr>
            <!-- <tr>
                <td>Lorem ipsum dolor sit amet,</td>
                <td>Process Flow</td>
                <td>Nov 10, 2020</td>
            </tr>
            <tr>
                <td>um dolor sit amet, adipiscing elit ...</td>
                <td>Application Flow</td>
                <td>Apr 05 2020</td>
            </tr>
            <tr>
                <td>Lorem  adipiscing elit ...</td>
                <td>Wireframe</td>
                <td>Nov 01, 2020</td>
            </tr> -->
        </tbody>
    </table>
        <!--
        <button class="btn btn-outline-purple pull-right mr-5">Initate POC Review Process</button>
        <div class="clear-float"></div>
        -->
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div>Total Review Comments</div>
                <div class="heading-lg pl-5 ml-4">{{totalCount}}</div>
            </div>
            <div class="col-sm-3">
                <div>Open Comments</div>
                <div class="heading-lg pl-5 ml-2">{{openCount}}</div>
            </div>
            <div class="col-sm-3">
                <div>Closed Comments</div>
                <div class="heading-lg pl-5 ml-2">{{closedCount}}</div>
            </div>

        </div>
    </div>
    <hr>
    <div class="ft-16 pb-10 processflow_css processflow_pt1_css">Comments Received</div>
    <table id="example" class="table table-custom">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Phase</th>
            <th>Reviewer</th>
            <th>Comments</th>
            <th>Accept</th>
            <th>Reject</th>
            <th>Assigned to</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let commentsReceiveddtl of commentsReceived">
              <td>
                <a *ngIf="commentsReceiveddtl.commentStatus !='Closed' && ( commonService.getRole() =='idea-owner' ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='Allocated' ) ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='In-Progress' )  ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='reviewer' &&  commentsReceiveddtl.commentStatus =='Completed' ) ) "  (click)="editComments(commentsReceiveddtl)" style="cursor: pointer;">
                  <i class="fa fa-edit" style="font-size: 14px;"></i>
                </a>
              </td>
              <td>{{commonService.convertDateTimeFormat(commentsReceiveddtl.enteredDate, 'true')}}</td>
              <td>{{commentsReceiveddtl.phaseCode}}</td>
              <td><span class="badge-reviewer"><img src="assets/images/review.png"> {{commentsReceiveddtl.enteredByName}}</span>
              </td>
              
              <td>{{commentsReceiveddtl.reviewComment}}</td>
              <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'"
                  [ngClass]="{'badge-accepted': commentsReceiveddtl.actionStatus == 'Accepted'}">Accepted</span></td>
              <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'" [ngClass]="{'badge-rejected action_status_rejected': commentsReceiveddtl.actionStatus == 'Rejected'}">Reject</span>
              </td>
              <td *ngIf="commonService.getRole() =='idea-owner'">{{commentsReceiveddtl.assignedToUserName}}</td>
              <td class="badge-status"
              [ngClass]="{'comment_status_allocated': commentsReceiveddtl.commentStatus == 'Allocated',
                        'comment_status_inprogres': commentsReceiveddtl.commentStatus == 'In-Progress',
                        'comment_status_completed': commentsReceiveddtl.commentStatus == 'Completed',
                        'comment_status_closed': commentsReceiveddtl.commentStatus == 'Closed',
                        'comment_status_pending': commentsReceiveddtl.commentStatus == 'Pending'}"
              ><span>{{commentsReceiveddtl.commentStatus}}</span></td>
            </tr>
          </tbody>
      </table>

  </div>
</div>