<div class="modal-body">
    <button type="button" class="close dialog-close" data-dismiss="modal" aria-label="Close" (click)="Close()">
       <img src="assets/images/close-popup.png">
      </button>
      <div class="row">
        <div class="col-sm-12">
            <div class="dialog-left"> 
                    <div class="heading"><span>Add Estimation</span></div>
                      <div class="row pt-50">
                        <div class="col-sm-12"><div class="txt-lable">Phase</div></div>
                        <div class="col-sm-12"><input type="text" class="form-control bg-white" id="Email" placeholder="Add phase here"></div>
						<div class="col-sm-12"><div class="txt-lable">Man Month</div></div>
                        <div class="col-sm-12"><input type="text" class="form-control bg-white" id="Email" placeholder="Add man month here"></div>
                        <div class="col-sm-12"><div class="txt-lable">Cost(USD)</div></div>
                        <div class="col-sm-12"><input type="text" class="form-control bg-white" id="Email" placeholder="Add cost here"></div>
                        
						<div class="col-sm-6 pt-50 pr-0">&nbsp;</div>
                        <div class="col-sm-6 pt-50 pl-0"><button class="btn button-save mt-5 w100">Save</button></div>
                    </div>
            </div>
        </div>
    </div>
</div>