
    <div class="modal-body">
        <button type="button" class="close dialog-close" (click)="Close()" data-dismiss="modal" aria-label="Close">
           <img src="assets/images/close-popup.png">
          </button>
          <div class="row">
            <div class="col-sm-7">
                <div class="dialog-left"> 
                        <div class="heading"><span>Welcome to HiveZen</span></div>
                        <div class="sub-heading" style="font-weight: inherit;">Let's get started with a few simple steps</div>
                        <form [formGroup]="signupForm" (ngSubmit)="signup()" id="Signup">
                        <div class="row pt-50">                        
                            <div class="col-sm-12"><div class="txt-lable">Email</div></div>
                            <div class="col-sm-12"><input type="text" class="form-control bg-white" formControlName="email" id="email" placeholder="Enter email"
                                [ngClass]="{ 'is-invalid': submitted && f1.email.errors }">
                                <div *ngIf="submitted && f1.email.errors" class="invalid-feedback">
                                    <div *ngIf="f1.email.errors.required">Email ID is required</div>
                                  </div>
                            
                            </div>
                            <div class="col-sm-12 pt-20"><button class="btn button-save mt-5 w100" >Sign up</button></div>
                        </div>
                        </form>
                         <div class="row">
                            <div class="col-sm-3"><hr></div>
                            <div class="col-sm-6"><div class="mtb-20 text-center">Or Sign in with</div></div>
                            <div class="col-sm-3"><hr></div>
                        </div>
                        <div class="row pb-20">
                            <div class="badge badge-pill badge-outline mr-5"><img src="assets/images/google.png"> Google</div>
                            <div class="badge badge-pill badge-outline mr-5"><img src="assets/images/slack.png">Slack</div>
                            <div class="badge badge-pill badge-outline"><img src="assets/images/in.png">Linked In</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><div class="text-center">Already have an Account? <a (click)="Close()" style="cursor: pointer;" ><span class="txt-purple">Log In</span></a></div></div>  
                        </div>
    
    
                </div>
            </div>
            <div class="col-sm-5" style="padding: 0px;">
                <div class="dialog-right">
                    <img src="assets/images/signup-1.png" class="mt-50">
                    <div class="mt-50">Join over 1000+ teams that<br>manage their work better</div>
                    <div class="copy-rights">&copy; HiveZen, All rights reserved</div>
                </div>
            </div>
        </div>
    </div>