<main class="ml-140 mr-25">
  <div class="container-fluid">
    <div class="page-heading">Documents</div>
      <div class="row pb-10">
        <div class="col-sm-2">
          <div class="txt-lable">Document Name</div>
        </div>
        <div class="col-sm-4">
          <input type="text" class="txt-outline w-100">
        </div>
      </div>

      <div class="row pb-10">
        <div class="col-sm-2">
          <div class="txt-lable">Document Type</div>
        </div>
        <div class="col-sm-4">
          <input type="text" class="txt-outline w-100">
        </div>
      </div>


      <div class="row pb-10">
        <div class="col-sm-2">
          <div class="txt-lable">Document Description</div>
        </div>
        <div class="col-sm-6">
          <textarea type="text" class="txt-outline w-100"
            placeholder=""></textarea>
        </div>
      </div>

      <div class="row pb-10 pt-20">
        <div class="col-sm-2">
          <div class="txt-lable"></div>
        </div>
        <div class="col-sm-9">
          <button class="btn btn-outline-purple">Upload File</button><span
            class="attachment"></span>
            <!-- <img src="assets/images/close-small.png"> -->
        </div>
      </div>
      <div class="row pb-10">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-9">
          <div class="btn button-save">Save</div>
        </div>
      </div>

    <div class="row mb-5 section-spacing">
      <div class="col-sm-12">
        <div class=" p-all-10">
          <div class="row">
              <div class="col-sm-1">
                <label class="ft-18">ID</label>
              </div>
              <div class="col-sm-2">
                <label class="ft-18">Name</label>
              </div>
              <div class="col-sm-2">
                <label class="ft-18">Description</label>
              </div>
              <div class="col-sm-2">
                <label class="ft-18">Document Type</label>
              </div>
              <div class="col-sm-2">
                <label class="ft-18">Uploaded By</label>
              </div>
              <div class="col-sm-2">
                <label class="ft-18">Uploaded on</label>
              </div>
              <div class="col-sm-1">
                <label class="ft-18"></label>
              </div>

            </div>
          </div>
          <div>
              <div class="bg-white border-gray mt-10 radius-all-3 p-all-10">
                <div class="row">

                  <div class="col-sm-1">
                    <div class="font-semibold pl-8">HZID12345</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Lorem adipiscing elit ...</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-1 align-right">
                    <div class="btn button-view">View</div>
                  </div>
                </div>
              </div>


              <div class="bg-white border-gray mt-10 radius-all-3 p-all-10">
                <div class="row">

                  <div class="col-sm-1">
                    <div class="font-semibold pl-8">HZID12345</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Lorem adipiscing elit ...</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-1 align-right">
                    <div class="btn button-view">View</div>
                  </div>
                </div>
              </div>


              <div class="bg-white border-gray mt-10 radius-all-3 p-all-10">
                <div class="row">

                  <div class="col-sm-1">
                    <div class="font-semibold pl-8">HZID12345</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Lorem adipiscing elit ...</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-1 align-right">
                    <div class="btn button-view">View</div>
                  </div>
                </div>
              </div>


              <div class="bg-white border-gray mt-10 radius-all-3 p-all-10">
                <div class="row">

                  <div class="col-sm-1">
                    <div class="font-semibold pl-8">HZID12345</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Lorem adipiscing elit ...</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-1 align-right">
                    <div class="btn button-view">View</div>
                  </div>
                </div>
              </div>


              <div class="bg-white border-gray mt-10 radius-all-3 p-all-10">
                <div class="row">

                  <div class="col-sm-1">
                    <div class="font-semibold pl-8">HZID12345</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Lorem adipiscing elit ...</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Requirement Gathering</div>
                  </div>
                  <div class="col-sm-2">
                    <div>Dec 25, 2020</div>
                  </div>
                  <div class="col-sm-1 align-right">
                    <div class="btn button-view">View</div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>


  </div>
</main>
<footer>
  <div class="container-fluid">
    <div class="footer">©HiveZen.All rights reserved</div>
  </div>
</footer>
