<main>
    <div id="Tab3" class="tabcontent1" style="padding: 30px 0px 0px 30px;">
        <div class="tab-header">
            <div class="tab-heading">Documents</div>
        </div>

        <div style="margin-right: 30px;">
            <div class="pb-20">
                <div class="row pb-10">
                    <div class="col-sm-3">
                        <div class="txt-lable">Document Name</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="txt-outline">Enter document name</div>
                    </div>
                </div>

                <div class="row pb-10">
                    <div class="col-sm-3">
                        <div class="txt-lable">Document Type</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="txt-outline">Enter type</div>
                    </div>
                </div>


                <div class="row pb-10">
                    <div class="col-sm-3">
                        <div class="txt-lable">Document Description</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="txt-outline">Enter description</div>
                    </div>
                </div>

                <div class="row pb-10">
                    <div class="col-sm-3">
                        <div class="txt-lable"></div>
                    </div>
                    <div class="col-sm-9">
                        <button class="btn btn-outline-purple">Upload File</button><span
                            class="attachment">Hive-requirements.pdf</span><img src="assets/images/close-small.png">
                    </div>
                </div>
                <div class="row pb-10 pt-20">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-9">
                        <div class="btn button-save">Save</div>
                    </div>
                </div>



            </div>
        </div>
        <hr>

        <table id="example" class="table">
            <thead>
                <tr>
                    <th>Document ID</th>
                    <th>Document Name</th>
                    <th>Description</th>
                    <th>Document Type</th>
                    <th>Uploaded By</th>
                    <th>Uploaded on</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem adipiscing elit ...</td>
                    <td>Requirement Gathering</td>
                    <td>Dec 25, 2020</td>
                    <td>Lorem adipiscing elit ...</td>
                    <td>Requirement Gathering</td>
                    <td>Dec 25, 2020</td>
                    <th>
                        <div class="btn button-view">View</div>
                    </th>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Process Flow</td>
                    <td>Nov 10, 2020</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Process Flow</td>
                    <td>Nov 10, 2020</td>
                    <th>
                        <div class="btn button-view">View</div>
                    </th>
                </tr>
                <tr>
                    <td>um dolor sit amet</td>
                    <td>Information Architecture</td>
                    <td>Apr 05 2020</td>
                    <td>um dolor sit amet</td>
                    <td>Information Architecture</td>
                    <td>Apr 05 2020</td>
                    <th>
                        <div class="btn button-view">View</div>
                    </th>
                </tr>
                <tr>
                    <td>um dolor sit amet</td>
                    <td>Information Architecture</td>
                    <td>Apr 05 2020</td>
                    <td>um dolor sit amet</td>
                    <td>Information Architecture</td>
                    <td>Apr 05 2020</td>
                    <th>
                        <div class="btn button-view">View</div>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>
</main>