<nav class="navbar navbar-expand topbar navbar-fixed-top">
  <div class="logo"><img src="assets/images/logo.png"></div>
</nav>
<main>
  <div class="container-fluid">
    <div class="heading"><span>Log In </span>to your Account</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="Login">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="row pb-10">
            <div class="col-sm-3">
              <div class="txt-lable text-right">Email</div>
            </div>
            <div class="col-sm-7">
              <input type="text" class="form-control bg-white" id="emailId" placeholder="Enter email"
                formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f1.emailId.errors }">
              <div *ngIf="submitted && f1.emailId.errors" class="invalid-feedback">
                <div *ngIf="f1.emailId.errors.required">Email ID is required</div>
              </div>
            </div>
          </div>
          <div class="row pb-20">
            <div class="col-sm-3">
              <div class="txt-lable text-right">Password</div>
            </div>
            <div class="col-sm-7">
              <input type="password" class="form-control bg-white" id="password" placeholder="Enter password"
                formControlName="password" [ngClass]="{ 'is-invalid': submitted && f1.password.errors }">
              <div *ngIf="submitted && f1.password.errors" class="invalid-feedback">
                <div *ngIf="f1.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-7">
              <div class="txt-purple">Forgot your Password?</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-7"><button class="btn button-save mt-10 w100">Log In</button></div>
          </div>
          <div class="row mt-50">
            <div class="col-sm-4">
              <hr>
            </div>
            <div class="col-sm-4">
              <div class="mtb-20 text-center">Or Sign in with</div>
            </div>
            <div class="col-sm-4">
              <hr>
            </div>
          </div>
          <div class="row pb-20">
            <div class="col-sm-4">
              <div class="badge badge-pill badge-outline"><img src="assets/images/google.png"> Google</div>
            </div>
            <div class="col-sm-4">
              <div class="badge badge-pill badge-outline"><img src="assets/images/slack.png">Slack</div>
            </div>
            <div class="col-sm-4">
              <div class="badge badge-pill badge-outline"><img src="assets/images/in.png">Linked In</div>
            </div>
          </div>
          <div class="row pb-40">
            <div class="col-sm-12">
              <div class="text-center">Don't have an account yet? <a style="cursor: pointer;"><span (click)="signup()"  class="txt-purple" data-toggle="modal"
                  data-target="#exampleModalCenter1">Sign up</span></a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
      
    </form>
  </div>

</main>